DOCKER_REGISTRY_USER=<user>
DOCKER_REGISTRY_PWD=<pwd>
DOCKER_REGISTRY_HOST=hub.docker.com

ACCESS_TOKEN_TTL_SECONDS=<>
API_SECRET_KEY=<>
API_RATE_LIMIT_WINDOW_MINUTES=<>
API_RATE_LIMIT_MAX_REQUESTS=<>
JWT_TTL_SECONDS=<>
