<form
  autocomplete="off"
  [formGroup]="form">
  <mat-form-field>
    <input
      matInput
      type="password"
      autoFocus
      [focusActivated]="focusActivated"
      formControlName="password"
      maxlength="100"
      placeholder="Password *">
    <mat-icon
      *ngIf="icon"
      color="accent"
      matSuffix
      matTooltip="Password should be at least 8 characters long, with at least one lowercase character, one uppercase character, one number and one special symbol"
      matTooltipPosition="above"
      (click)="$event.stopPropagation()">
      {{ icon }}
    </mat-icon>
    <mat-error *ngIf="form.get('password').errors?.required">
      Please enter the password
    </mat-error>

    <mat-error *ngIf="form.get('password').errors?.pattern">
      Password doesn't meet the strength requirements
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="password"
      formControlName="confirmPassword"
      maxlength="100"
      placeholder="Confirm Password *"
      [errorStateMatcher]="errorMatcher">

    <mat-error *ngIf="form.hasError('passwordsDoNotMatch') && !form.get('confirmPassword').errors?.required">
      Passwords don't match. Please check
    </mat-error>

    <mat-error *ngIf="form.get('confirmPassword').errors?.required">
      Please confirm the password
    </mat-error>
  </mat-form-field>
</form>
